{% extends 'index.html' %}
{% load static %}
{% block password_reset %}
<div class="container-fluid reset-password">
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="">
                        <h1 class="d-flex justify-content-center lock-icon mb-4"><i class="fas fa-lock"></i></h1>
                        <h3 class="d-flex justify-content-center mb-4">Forgot Password?</h3>
                        <h6 class="d-flex justify-content-center mb-4">You can reset your password here.</h6>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                            {{form.as_p}}
                        <button class="float-end" type="submit">Send link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock password_reset %}